:root {
  --background-color-champagne: #f7ede8;
  --black-color: #000;
  --white-color: #fff;
  --text-color-vermillion: #cd4631;
  --text-color-davys-grey: #4d4d4d;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--background-color-champagne);
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

/*------------------------------HEADER------------------------------*/

.header {
  background-color: var(--background-color-champagne);
  display: flex;
  flex-direction: row;
}

.header__logo {
  margin-top: 24px;
  margin-left: 9.72%;
  width: 74px;
  height: 74px;
}

.logo {
  height: 100%;
  width: 100%;
}

.main-nav {
  margin-left: 8.55%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 60px /*4.17%*/;
  margin-top: 51px;
}

.nav__link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--text-color-vermillion);
  transition: color 300ms;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav__svg {
  width: 16px;
  height: 16px;
}

.actions {
  margin-left: 21.11%;
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.actions__recent-episodes {
  text-decoration: none;
  text-transform: uppercase;

  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid var(--black-color);
}

.actions__recent-episodes:hover,
.actions__recent-episodes:focus {
  color: var(--white-color);

  background: var(--black-color);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

  transition: background 300ms;
}

.actions__subscribe {
  text-decoration: none;
  text-transform: uppercase;

  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid var(--black-color);
}

.actions__subscribe:hover,
.actions__subscribe:focus {
  color: var(--white-color);

  background: var(--black-color);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

  transition: background 300ms;
}

/*-------------------------------------------------------------------------------------*/

/*------------------------------------------HERO---------------------------------------*/

.hero {
  padding-top: 64px;
  background-color: var(--background-color-champagne);
}

.hero__main {
  display: flex;
  flex-direction: row;
}

.hero__block_left {
  flex: 1;
  height: auto;
}

.hero__svg {
  position: relative;
  width: 100%;
  height: 114%;
  top: -20%;
  left: 0%;
}

.hero-swirl {
  width: 100%;
  height: 114%;
  position: relative;
  top: -20%;
  left: 0%;
}

.hero__block {
  text-align: center;
}

.hero__block_center {
  flex-basis: 513px;
}

.hero__block_right {
  flex: 1;
  height: auto;
}

.hero__heading {
  color: var(--black-color);
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 96px */
  letter-spacing: -3.84px;
}

.hero__heading-span {
  color: var(--text-color-vermillion);
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3.84px;
}

.hero__text {
  width: 374px;
  color: var(--text-color-davys-grey);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  margin: 40px auto 0;
}

.hero__link {
  display: inline-flex;
  padding: 24px 48px;
  justify-content: center;
  align-items: center;

  margin: 60px auto 0;

  text-decoration: none;
  text-transform: uppercase;

  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 8px;
  border: 2px solid var(--black-color);
}

.hero__link:hover,
.hero__link:focus {
  color: var(--white-color);

  background: var(--black-color);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);

  transition: background 300ms;
}

.hero__gallery {
  margin-top: 120px;
}

.gallery__cover {
  width: 373px;
  height: 373px;
}

.hero__supporters {
  display: flex;
  gap: 9.6%;
  align-items: center;
  margin-top: 120px;
  border-top: var(--text-color-davys-grey) 1px solid;
  border-bottom: var(--text-color-davys-grey) 1px solid;
}

.supporters__text {
  color: var(--black-color);
  font-size: 22.65px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 31.71px */
  letter-spacing: -0.453px;
}

.supporters__list {
  display: flex;
  gap: 20px;
}

.design_svg {
  bottom: -75px;
}

/*----------------------------------------------------------------*/

/*--------------------------DESCRIPTION---------------------------*/

.description {
  background-color: var(--white-color);
}

.description__top {
  width: 100%;
  height: auto;
  padding-top: 140px;
}

.heading__container {
  width: 735px;
  margin: 0 auto;
}

.description__heading {
  color: var(--black-color);
  text-align: center;

  font-size: 59.3px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 71.16px */
  letter-spacing: -1.186px;
}
.description__block {
}
.feedbacks {
}
.membership {
}
.recent-episodes {
}
.sponsor {
}
.article-news {
}
.app {
}
.footer__head {
}
.footer__bottom {
}
.logo {
}
.nav__list {
}
.actions__recent-episodes {
}
.actions__subscribe {
}
.quote {
}
.feedbacks__svg {
}
.feedbacks__heading {
}
.feedbacks__text {
}
.feedbacks-list {
}
.membership__svg {
}
.membership__heading {
}
.membership__text {
}
.membership__block {
}
.membership__btn {
}
.recent-episodes__heading {
}
.recent-episodes__text {
}
.recent-episodes__svg {
}
.recent-episodes__block {
}
.sponsor__svg {
}
.sponsor__heading {
}
.sponsor__text {
}
.sponsor__block {
}
.article-news__heading {
}
.article-news__text {
}
.article-news__svg {
}
.article-news__block {
}
.app__block {
}
.head__item {
}
.bottom__text {
}
.nav__item {
}

.quote__svg {
}
.quote__block {
}
.navigation-left.block__svg {
}
.navigation-right.block__svg {
}
.block__svg {
}
.block__img {
}
.block__head {
}
.block__tags {
}
.block__text {
}
.block__heading {
}
.block__button {
}
.block__item {
}
.item__logo {
}
.item__text {
}
.item__socials {
}
.item__links {
}
.item__logos {
}
.text__link {
}
.nav__link {
}
.nav__link.svg-container {
}
.list__item {
}
.head__heading {
}
.head__text {
}
.head__description {
}
.tags__tag {
}
.tags__date {
}
.item__svg {
}
.socials__link {
}
.links__list {
}
.logos__text {
}
.logos__item {
}
.nav__svg {
}
.list__svg {
}
.block__tile {
}
.link__svg {
}
.tile__svg {
}
.tile__heading {
}
.tile__text {
}
.item__poster-block {
}
.item__info {
}
.item__head {
}
.item__link {
}
.poster-block__img {
}
.poster-block__tag {
}
.info__eps {
}
.info__heading {
}
.info__description {
}
.info__block {
}
.head__price-block {
}
.info__list {
}
.head__popular {
}
.price-block__btn {
}
.price-block__price {
}
.popular__heading {
}
.popular__tag {
}
.price__number {
}
.price__period {
}
